.app {
  text-align: center;
  padding: 0px 10px;
}

main {
  max-width: 1200px;
  min-height: 80vh;
  margin: auto;
  padding: 10px;
}

.light {
  background-color: white;
  color: #15202b;
}

.dark {
  background-color: #15202b;
  color: white;
}